
/******************************************************************************
 * Author: Chaz Lever
 * Date: 05/12/2012
 ******************************************************************************/

$grey-dark: #303030;
$grey-medium: #606060;
$grey-light: #f0f0f0;
$grey-shadow: #c0c0c0;
$red-dark: #a81616;
$red-light: #cc1b1b;

$container-width: 780px;

@mixin textshadow($right, $down, $fuzz, $color) {
   text-shadow: $right $down $fuzz $color;
   -moz-text-shadow: $right $down $fuzz $color;
   -webkit-text-shadow: $right $down $fuzz $color;
   -khtml-text-shadow: $right $down $fuzz $color;
}

@mixin borderradius($radius) {
   border-radius: $radius;
   -moz-border-radius: $radius;
   -webkit-border-radius: $radius;
   -khtml-border-radius: $radius;
}

@mixin boxshadow($right, $down, $fuzz, $color) {   
   box-shadow: $right $down $fuzz $color;
   -moz-box-shadow: $right $down $fuzz $color;
   -webkit-box-shadow: $right $down $fuzz $color;
   -khtml-box-shadow: $right $down $fuzz $color;
}

html, body {
   color: $grey-dark;
   font-size: 15px;
   font-family: "Droid Serif", serif;
   background: url(images/bg-lighter.jpg) fixed;
   margin: 0;
   padding: 0;
}

strong {
   font-style: italic;
}

em {
   color: $grey-medium;
}

a {
   color: $red-dark;
   text-decoration: none;

   &:hover {
      color: $red-light;
      text-decoration: underline;
   }
}

h1 {
   font-family: "Cabin Sketch", cursive;
   font-size: 60px;
   height: 70px;
   text-align: center;
   @include textshadow(3px, 3px, 3px, $grey-shadow);
   width: $container-width !important;
   margin: 15px auto !important; 

   a:hover {
      text-decoration: none;
   }
}

h2 {
   font-size: 22px;
   margin: -0.9em 0 0 -1.5em;
   padding: 0.5em;
   display: inline-block;
   vertical-align: middle;
   font-family: "Cabin Sketch", cursive;
   font-weight: bold;
   color: $grey-light;
   background-color: $red-dark;
   @include borderradius(5px);
}

ul {
   list-style-type: none;

   li {
      background-repeat: no-repeat;
      padding-left: 25px;
   }
}

.hide {
   display: none;
}

.container {
   width: $container-width;
   margin: 15px auto;
}

.category-box {
   line-height: 1.4em;
   background-color: white;
   border: 1px solid #e0e0e0;
   padding: 0 20px 5px 20px;
   margin: 0 auto 2.5em auto;
   @include boxshadow(2px, 2px, 10px, $grey-shadow); 

   p, ul {
      margin: 10px 0;
   }

}

.degree-type, .job-type, .authors, .conference {
   padding: 0.4em 0;
}

/*******************************************************************************
/* WORK SPECIFIC
 *******************************************************************************/

#work {
   clear: both;

   ul li {
      background-image: url('images/workicon.png');
      strong {
         float: left;
      }
   }
}

span.employ-date, span.grad-date {
   float: right;
   color: $grey-medium;
}

p.job-description, div.abstract {
   color: $grey-medium;
   background-color: $grey-light;
   border: 1px solid #d0d0d0;
   margin: 0.4em 0 1em 0;
}

p.job-description {
   padding: 0.5em 1em;
}

/*******************************************************************************
/* EDUCATION SPECIFIC
 *******************************************************************************/

#education {
   float: right;
   width: 385px;

   ul li {
      background-image: url('images/eduicon.png');
      padding-left: 38px;
      margin-bottom: 10px;
   }

   strong {
      float: left;
   }
}

/*******************************************************************************
/* PUBLICATION SPECIFIC
 *******************************************************************************/

#publications ul li {
   background-image: url('images/pubicon.png');
   padding-left: 30px;
}

div.abstract p {
   margin: 1em;
}

/*******************************************************************************
/* CONTACT SPECIFIC
 *******************************************************************************/

#contact {
   float: left;
   width: 280px;

   li {
      padding-left: 38px;
   }
}

#campusmail {
   background-image: url('images/campusicon.png');
}

#email {
   background-image: url('images/emailicon.png');
   margin: 12px 0 18px 0;
}

/*******************************************************************************
/* SOCIAL MEDIA SPECIFIC
 *******************************************************************************/

#social {
   position: absolute;
   width: $container-width;
   top: 70px;
   left: 50%;
   margin-left: -382.5px;

   h2 {
      display: none;
   }

   ul {
      margin-left: 620px;
      
      li a {
         display: block;
         float: left;
         height: 24px;
         width: 24px;
         text-indent: -9999px;
      }
   }
}

#facebook {
   background: url('images/facebook.png') no-repeat -4px -4px;
}

#twitter {
   background: url('images/twitter.png') no-repeat -4px -4px;
}

#googleplus {
   background: url('images/gplus.png') no-repeat -4px -4px;
}

#linkedin {
   background: url('images/linkedin.png') no-repeat -4px -4px;
}

#github {
   background: url('images/github.png') no-repeat -4px -4px;
}

/*******************************************************************************
/* FOOTER
 *******************************************************************************/

#footer {
   font-size: 14px;
   color: #808080;
   text-align: center;
   margin: 2em auto;
}

